<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>AirBnB clone</title>
		<link rel="shortcut icon" href="..images/icon.png" type="image/x-icon">
		<link rel="stylesheet" href="styles/4-common.css">
		<link rel="stylesheet" href="styles/3-header.css">
		<link rel="stylesheet" href="styles/3-footer.css">
		<link rel="stylesheet" href="styles/6-filters.css"/>
	</head>
	<body>
		<header>
			<div id="logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<div class="popover">
						<ul>
							{% for state in state.values()|sort(attribute="name" %}
							<li><h2>{{ state.name }}:</h2>
							<ul>
								{% for city in state.cities|sort(attribute="name") %}
								<li>{{ city.name }}</li>
								{% endfor %}
							</ul>
						</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			<div class="amenities">
				<h3>Amenities</h3>
				<h4>&nbsp;</h4>
				<div class="popover">
					<ul>
						{% for amenity in amenities.values()|sort(attribute="name") %}
							<li>{{ amenity.name }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			</section>
		</div>
		<footer>
			<p>Best School</p>
		</footer>
	</body>
</html>
